/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    align-self: center;
    line-height: 1.5;
    --headerHeight: 0.5fr;
    --bodyHeight: 4fr;
    --footerHeight: 0.35fr;
}
body{
    height: 100vh;
    display: grid;
    grid-template-rows: var(--headerHeight) var(--bodyHeight) var(--footerHeight);
}
/* using this selector will ensure display:grid only applies when dialog is open */
dialog[open]{
    margin: auto;
    margin-bottom: 40vh;
    padding: 12px 48px;
    width: 60%;
    border-radius: 2rem;
    display: grid;
    grid-template-rows: var(--headerHeight) var(--bodyHeight) var(--footerHeight);
}
dialog::backdrop{
    background-color: rgba(35, 35, 35, 0.4);
}
dialog>p{
    align-self: start;
    text-align: justify;
    font-size: larger;
    margin: 12px 0;
}
dialog button{
    padding: 6px 42px;
}
main{
    height: 100%;
}
header{
    background-color: darkgray;
    height: 100%;
    align-content: center;
}
#content{
    height: 100%;
}