/* reset */
*{
    /* variables - change header, body, and footer sizes here */
    --headerHeight: 6vh;
    --bodyHeight: 4fr;
    --footerHeight: 5vh;
    --displayGap: 12px;
    --primaryColor: #3C3C3B;
    --secondaryColor: #00FF00;
    --tertiaryColor: #3e6a3d;
    --headerColor: #FFFFFF;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    align-self: center;
    line-height: 1.5;
    font-family: "Chakra Petch", sans-serif;
}
/* header styling */
header{
    height: 100%;
    align-content: center;
    font-weight: bold;
}
#header{
    width: 100%;
    font-size: xx-large;
    border-bottom: 2px solid var(--secondaryColor);
}
.container{
    display: flex;
    justify-content: space-between;
}
#options{
    width: 325px;
    font-size: x-large;
}
/* achor tag styling */
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: var(--tertiaryColor); 
}
/* body layout styling */
body{
    height: 100vh;
    display: grid;
    grid-template-rows: var(--headerHeight) var(--bodyHeight) var(--footerHeight);
    padding: 0 20vw;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--displayGap);
    margin-bottom: var(--displayGap);
}
main>div:first-child{
    margin-top: var(--displayGap);
}
/* dialog styling */
/* using this selector will ensure display:grid only applies when dialog is open */
dialog[open]{
    margin: auto;
    margin-bottom: 55vh;
    padding: 12px 48px;
    width: 60%;
    display: grid;
    grid-template-rows: var(--headerHeight) var(--bodyHeight) var(--footerHeight);
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.8);
}
dialog>p{
    text-align: justify;
    font-size: larger;
    margin-bottom: 12px;
}
dialog button{
    padding: 6px 42px;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    border: 1px solid var(--secondaryColor);
}
dialog button:hover{
    box-shadow: 0 0 25px var(--tertiaryColor);
}
dialog button:active{
    box-shadow: 0 0 25px var(--secondaryColor);
}
dialog button:focus{
    outline: none;
}
/* card styling */
.card{
    width: 100%;
    min-height: 35vh;
    border: 2px solid var(--secondaryColor);
    padding: 24px 48px;
    display: grid;
    grid-template-areas: 
        "image title"
        "image description";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    column-gap: 12px;
}
.card>*{
    /* allows clicks anywhere on the card */
    pointer-events: none;
}
.card>h2{
    grid-area: title;
}
.card>p{
    grid-area: description;
    align-self: normal;
}
.card-image{
    grid-area: image;
    background-color: black;
    width: 100%;
    min-width: 300px;
    border: 1px solid black;
    aspect-ratio: 16/9;
    overflow: hidden;
    
}
.card-image>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card:hover{
    box-shadow: 0 0 25px var(--tertiaryColor);
}
.card:active{
    box-shadow: 0 0 25px var(--secondaryColor);
}
/* about me styling */
#about-me > :first-child{
    margin-bottom: calc(var(--displayGap) / 2);
}