/* reset */
*{
    /* variables - change header, body, and footer sizes here */
    --headerHeight: 6vh;
    --bodyHeight: 4fr;
    --footerHeight: 5vh;
    --displayGap: 12px;
    --backgroundColor: rgb(25, 25, 30);
    --textColor: #00FF00;
    --secondaryTextColor: #3e6a3d;
    --mainTextColor: rgba(255, 255, 255, 0.75);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    align-self: center;
    line-height: 1.5;
    font-family: "Chakra Petch", sans-serif;
}
/* CRT screen effect  */
:root {
  --crt-red: rgb(218, 49, 49);
  --crt-green: rgb(112, 159, 115);
  --crt-blue: rgb(40, 129, 206);
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.crt {
  background-color: var(--backgroundColor);
  text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5),
    -1px -1px rgba(0, 255, 255, 0.4);
  position: relative;
  &:before,
  &:after {
    content: "";
    transform: translateZ(0);
    pointer-events: none;
    opacity: 0.5;
    mix-blend-mode: overlay;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &:before {
    background: repeating-linear-gradient(
      var(--crt-red) 0px,
      var(--crt-green) 2px,
      var(--crt-blue) 4px
    );
  }
  &:after {
    background: repeating-linear-gradient(
      90deg,
      var(--crt-red) 1px,
      var(--crt-green) 2px,
      var(--crt-blue) 3px
    );
  }
}
.cursor {
  display: inline-block;
  animation: blinkTextCursor 500ms infinite normal;
}
html{
  font-size: 1.5rem;
  min-height: 100%;
}
/* header styling */
#header{
    height: 100%;
    align-content: center;
    font-weight: bold;
    width: 100%;
    min-width: 600px;
    font-size: xx-large;
    border-bottom: 2px solid var(--textColor);
}
.container{
    display: flex;
    justify-content: space-between;
}
#options{
    width: 325px;
    font-size: x-large;
}
/* achor tag styling */
a{
    text-decoration: none;
    color: unset;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: var(--secondaryTextColor); 
}
/* body layout styling */
body{
    height: 100vh;
    display: grid;
    grid-template-rows: var(--headerHeight) var(--bodyHeight) var(--footerHeight);
    padding: 0 20vw;
    color: var(--textColor);
    background-color: var(--backgroundColor);
}
main{
    height: 100vh;
    height: 100dvh;
    color: var(--mainTextColor);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--displayGap);
    margin-bottom: var(--displayGap);
}
main>div:first-child{
    margin-top: var(--displayGap);
}
/* dialog styling */
/* using this selector will ensure display:grid only applies when dialog is open */
dialog[open]{
    margin: auto;
    margin-bottom: 55vh;
    padding: 12px 48px;
    width: 60%;
    display: grid;
    grid-template-rows: var(--headerHeight) var(--bodyHeight) var(--footerHeight);
    color: var(--textColor);
    background-color: var(--backgroundColor);
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.8);
}
dialog>p{
    text-align: justify;
    font-size: larger;
    margin-bottom: 12px;
}
dialog button{
    padding: 6px 42px;
    color: var(--textColor);
    background-color: var(--backgroundColor);
    border: 1px solid var(--textColor);
}
dialog button:hover{
    box-shadow: 0 0 25px var(--secondaryTextColor);
}
dialog button:active{
    box-shadow: 0 0 25px var(--textColor);
}
dialog button:focus, dialog:focus{
    outline: none;
}
/* card styling */
.card{
    width: 100%;
    min-height: 35vh;
    border: 2px solid var(--textColor);
    padding: 24px 48px;
    display: grid;
    grid-template-areas: 
        "image title"
        "image description";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    column-gap: 12px;
}
.card>*{
    /* allows clicks anywhere on the card */
    pointer-events: none;
}
.card>h2{
    grid-area: title;
}
.card>p{
    grid-area: description;
    align-self: normal;
}
.card-image{
    grid-area: image;
    background-color: black;
    width: 100%;
    min-width: 300px;
    border: 1px solid black;
    aspect-ratio: 16/9;
    overflow: hidden;
    
}
.card-image>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card:hover{
    box-shadow: 0 0 25px var(--secondaryTextColor);
}
.card:active{
    box-shadow: 0 0 25px var(--textColor);
}
/* about me styling */
#about-me > :first-child{
    margin-bottom: calc(var(--displayGap) / 2);
}
/* toast notification */
.toast{
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 400px;
}
/* credits styling */
.credits{
    font-size: small;
}