/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    align-self: center;
    line-height: 1.5;
}
/* using this selector will ensure display:grid only applies when dialog is open */
dialog[open]{
    margin: auto;
    margin-bottom: 40vh;
    padding: 12px 48px;
    width: 60%;
    border-radius: 2rem;
    display: grid;
    grid-template-rows: 0.7fr 4fr 0.7fr;
}
dialog::backdrop{
    background-color: rgba(35, 35, 35, 0.4);
}
dialog>p{
    align-self: start;
    text-align: justify;
    font-size: larger;
    margin: 12px 0;
}
dialog button{
    padding: 6px 42px;
}